.cart-image {
  height: 100px;
  width: 100px;
  float: right;
}
.taco-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.taco-image-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.taco-image {
  height: 300px;
  width: 300px;
}
