.cart-image {
  background-color: greenyellow;
  height: 100px;
  width: 100px;
}
.cart-container {
  background-color: royalblue;
}

.taco-container {
  /* background-color: orange; */
  margin: 50px 10px 20px 10px;
}
.tacos-container {
  background-color: yellow;
  margin: 50px 10px 20px 10px;
  display: flex;
  flex-direction: row;
}

.taco-image-container {
  background-color: red;
  /* margin: 50px 10px 20px 10px; */

  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}
.taco-text-container {
  background-color: green;
  /* margin: 50px 10px 20px 10px; */

  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}

.taco-image {
  /* background-color: pink; */

  height: 300px;
  width: 300px;
}
